.popup-overlay {
    visibility:hidden;
    }
    
    .popup-content {
    visibility:hidden;
    }
    .popup-overlay.active{
        visibility:visible;
        }
        
        .popup-content.active {
        visibility:visible;
}
.add-expense {
    visibility: hidden;
    }
    .add-expense.active {
        visibility: visible;
    }
.budgetFactor {
    visibility: visible;
}
    .budgetFactor.active {
        visibility: hidden;
    }
.open {
    visibility: hidden;
}
    .open.active {
        visibility: visible;
    }